NODE_ENV=development
PORT=8080
BASE_URL=http://localhost:8080
CORS_ORIGINS=http://localhost:7070

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=arabic
DB_SSL=false

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
JWT_ACCESS_COOKIE_MAX_AGE=900000
JWT_REFRESH_COOKIE_MAX_AGE=604800000

THROTTLE_TTL=60000
THROTTLE_LIMIT=120
